.section {
  display: flex;
  flex-direction: column;
  padding: 0 clamp($space-md, 3.2vw, 32px);
  margin-bottom: clamp($space-md, 3.2vw, 32px);

  @media (min-width: $breakpoint-md) {
    flex-direction: row;

    &__wrapper {
      max-width: 50%;
    }
  }

  &__description {
    font-size: $font-size-sm;
    line-height: 20px;
    text-align: left;
    margin: 0;
    margin-bottom: $space-md;
  }

  &__picture {
    width: 100%;
    
    @media (min-width: $breakpoint-md) {
      max-width: 50%;
    }
  }

  &__button {
    margin-bottom: $space-md;
  }
}