$color-white: #fff;
$color-black: #1b1c21;
$color-border-link: #b8ffec;
$color-gray: #7e7e82;
$color-accent: #41f6d7;
$color-highlight: #ff3e79;

$color-bg-rgb: rgb(248, 248, 248);
$color-input: rgba(181, 182, 188, 1);
$color-border-input: rgba(234, 234, 234, 1);

$shadow-dark-rgb: rgb(14, 24, 80);
$shadow-light-rgb: rgb(69, 79, 126);

$font-base: "TT Lakes", sans-serif;

$font-weight-base: 400;
$font-weight-md: 500;
$font-weight-bold: 700;

$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-md: 28px;

$line-height-sm: 16px;
$line-height-base: 24px;

$breakpoint-md: 768px;
$breakpoint-lg: 1120px;
$breakpoint-xl: 1366px;

$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;